<h1>Angular App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" routerLink="/student/index" routerLinkActive="active">Student</a></li>
            <li class="nav-item active"><a class="nav-link" routerLink="/student/edit" routerLinkActive="active">Edit</a></li>
          </ul>
    </div>
</nav>
